version: '3'
services:
  app:
    ports:
    - "3000:3000"
    volumes:
    - ./rprj-app/package.json:/usr/src/app/package.json
    - ./rprj-app/public:/usr/src/app/public
    - ./rprj-app/src:/usr/src/app/src
    - ./rprj-app/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh
  web:
    environment:
      SITE_TITLE: ":: R-Project Dev ::"
      SITE_TITLE_2: "Just testing stuff"
      RPRJ_JWT_SECRET_KEY: mySecretJWTKeyForDev
      # RPRJ_ADMIN_PASS: pass
      # RPRJ_SKIN: lcars
      # MYSQL_PASSWORD: cippa
    volumes:
      - ./php:/var/www/html
      - ./docker/webentrypoint.sh:/usr/local/bin/docker-php-entrypoint
    #ports:
      #- 5000:80
  db:
    ports:
    - "3306:3306"
  #   environment:
  #     MYSQL_ROOT_PASSWORD: cippa
